go 1.26.1

toolchain go1.26.1

use (
	./components
	./deployments/nirmancampus
	./deployments/totschool_lago
	./getters
	./lago
	./plugins/forms
	./plugins/p_contacts
	./plugins/p_dashboard
	./plugins/p_filesystem
	./plugins/p_nirmancampus_academicrecords
	./plugins/p_nirmancampus_announcements
	./plugins/p_nirmancampus_assignmentsubmissions
	./plugins/p_nirmancampus_courses
	./plugins/p_nirmancampus_programs
	./plugins/p_nirmancampus_sessions
	./plugins/p_nirmancampus_studentapplications
	./plugins/p_nirmancampus_students
	./plugins/p_nirmancampus_users
	./plugins/p_nirmancampus_website
	./plugins/p_otp
	./plugins/p_pwa
	./plugins/p_totschool_appointments
	./plugins/p_totschool_proposals
	./plugins/p_totschool_tally
	./plugins/p_totschool_users
	./plugins/p_users
	./plugins/p_whatsapp
	./registry
	./views
)
