go 1.26.1

toolchain go1.26.1

use (
	./components
	./deployments/nirmancampus
	./deployments/totschool_lago
	./getters
	./lago
	./plugins/p_academicrecords
	./plugins/p_academicrecords_courses
	./plugins/p_academicrecords_programs
	./plugins/p_announcements
	./plugins/p_announcements_semesters
	./plugins/p_assignmentresults
	./plugins/p_assignments
	./plugins/p_courses
	./plugins/p_courses_teachers
	./plugins/p_dashboard
	./plugins/p_filesystem
	./plugins/p_nirmancampus_student_zone
	./plugins/p_nirmancampus_students
	./plugins/p_nirmancampus_users
	./plugins/p_nirmancampus_website
	./plugins/p_otp
	./plugins/p_programs
	./plugins/p_pwa
	./plugins/p_semesters
	./plugins/p_studentapplication
	./plugins/p_students
	./plugins/p_teachers
	./plugins/p_totschool_appointments
	./plugins/p_totschool_proposals
	./plugins/p_totschool_tally
	./plugins/p_totschool_users
	./plugins/p_users
	./registry
	./views
)
