{{define "delete_confirmation"}}
<div class="container mx-auto {{.Classes}}">
	<h2 class="text-xl font-bold text-error">{{.Title}}</h2>
	<p class="my-2">{{.Message}}</p>
	{{if .ErrorMessage}}<div class="alert alert-error my-2 text-sm">{{.ErrorMessage}}</div>{{end}}
	<form class="flex flex-col gap-2 {{.FormClasses}}"{{attrs .Attrs}}>
		<div></div>
		<div></div>
		{{if .FormError}}<span class="text-sm text-error">{{.FormError}}</span>{{end}}
		<div class="my-2">
			<button type="submit" class="btn btn-error my-2">Confirm Delete</button>
		</div>
	</form>
</div>
{{end}}
