{{define "timeline"}}
<div id="{{.UID}}" class="timeline-container {{.Classes}}">
	{{if .ShowHeader}}
	<div class="flex justify-between items-center mb-4">
		{{if .Title}}<div class="text-xl font-semibold">{{.Title}}</div>{{end}}
		{{if .Actions}}<div class="flex items-center gap-2">{{.Actions}}</div>{{end}}
	</div>
	{{end}}
	<div class="timeline-scroll relative">
		{{if .ShowLine}}<div class="absolute left-[5px] top-0 bottom-0 w-0.5 bg-primary opacity-30"></div>{{end}}
		{{if .Empty}}
		<div class="text-center opacity-60 py-8">No items found</div>
		{{else}}
		{{range .Items}}
		{{if .Href}}<a href="{{.Href}}">{{end}}
		<div class="timeline-item relative flex items-center gap-4">
			<div class="timeline-indicator relative z-10 flex items-center">
				<div class="w-3 h-3 rounded-full bg-primary"></div>
			</div>
			<div class="timeline-card flex-1 p-2 m-1 rounded-box border border-base-300 ">{{.Content}}</div>
		</div>
		{{if .Href}}</a>{{end}}
		{{end}}
		{{end}}
	</div>
	{{.Pagination}}
</div>
{{end}}
{{define "timeline_filter"}}
<details class="dropdown dropdown-end" @click.outside="$el.removeAttribute('open')">
	<summary class="btn btn-square dropdown-toggle btn-primary btn-sm">{{.Icon}}</summary>
	<div class="card w-64 my-1.5 card-body shadow dropdown-content border border-base-300 rounded-box z-2 bg-base-100">{{.Panel}}</div>
</details>
{{end}}
